[Unit]
Description=Gamma DAC control
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5
Type=simple
WorkingDirectory=/root/gammaDAC
ExecStart=/usr/bin/python-sirius /root/gammaDAC/gen_pv.py

[Install]
WantedBy=multi-user.target
